name: build azure resources
on:
  push: 
    branches: main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Azure Login
      uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: List azure account info
      uses: azure/CLI@v1
      with:
          inlineScript: |
            az account list -o table
  
    - name: Create App Service
      uses: azure/CLI@v1
      with:
          inlineScript: |
            # az webapp create --resource-group gihub-rg --name hlaingapp007 --custom-location $customLocationId --runtime 'DOTNETCORE:6.0'
            az webapp create --resource-group gihub-rg --plan MyPlan1 --name MyUniqueAppName
          




  