name: build azure resources
on:
  push: 
    branches: main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Azure Login
      uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: list azure account
      run: |
        az account list -o table

    - name: create resource group
      run: |
        az group list -o table | grep github-rg

  